In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('parents.CSV', encoding = 'cp1251', error_bad_lines = False, header = 0, sep = ';')
df.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

   Номер животного Ушная бирка животного  Номер Матери    Код Отца Отец Матери
0                1             570034283             0  -           -
1                2             533487712             0  -           -
2                3             897733157             0  -           -
3                4             584322510             0  -           -
4                6             887578050             0  -           -

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25498 entries, 0 to 25497
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Номер животного        25498 non-null  int64
 1   Ушная бирка животного  25498 non-null  object
 2   Номер Матери           25498 non-null  int64
 3   Код Отца               25498 non-null  object
 4   Отец Матери            25498 non-null  object
dtypes: int64(2), object(3)
memory usage: 996.1+ KB

In [14]:
df.tail()

,Номер животного,Ушная бирка животного,Номер Матери,Код Отца,Отец Матери
25493,912269,912269,411124,1H11344,DISTANCE
25494,912270,912270,612166,777H10771,STEVIE
25495,912271,912271,407078,1H11917,ICEMAN
25496,912272,912272,803014,777H10574,29H16387
25497,912273,912273,803140,777H10690,777H10473